html {
  overflow-y: scroll;
  overflow-x: auto;
}

body, #root {
  font-family: 'Montserrat';
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.DateRangePicker *, .SingleDatePicker *, .DayPickerRangeController * {
  box-sizing: border-box;
}
