html {
  overflow-y: auto;
  overflow-x: hidden;
}

body, #root {
  font-family: 'Montserrat';
  width: 100%;
  margin: 0;
  padding: 0;
}

.DateRangePicker *, .SingleDatePicker *, .DayPickerRangeController * {
  box-sizing: border-box;
}
