{%  extends 'base.html' %}
{% block content %}
<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Api do Aitinha!</h1>                 
        </div>
      </div>
      <div class="container">
        <!-- Example row of columns -->
      <h1>Gerador de codigo</h1>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
      $(document).ready(function(){
          $("button").click(function(){
              $.getJSON("http://0.0.0.0:5000/geracodigo", function(result){
                  console.log(result);
                  $.each(result, function(i, field){
                      document.getElementById("codigo").append(field + " ");
                  });
              });
          });
      });
      </script>      
    </br>    
    
      <p id="codigo">Código: </p>  
      <br>
      <button>Gerar!</button>
    </div>         
        <hr>
      </div> <!-- /container -->
</main>

<!-- $("codigo").append(field + " ");
 !-->

{% endblock %}