{%  extends 'base.html' %}
{% block content %}
<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Api do Aitinha!</h1>                 
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
      <h1>Logado!</h1>
      <form action="/logout" method="POST">
        <input type="submit" value="Sair">
      </form>
      <br>
    </div>         

        <hr>

      </div> <!-- /container -->

</main>

{% endblock %}